
<ion-content class="body">
  <div class="ion-text-center">
    <img class="logo" src="assets/simet.png" alt="logo" />
  </div>
  <ion-grid class="container">
    <ion-row>
      <ion-col>
        <ion-item class="emaillabel">
          <ion-input label="E-mail" label-placement="floating" fill="outline" type="email" placeholder="Enter your email"></ion-input>
        </ion-item>
        <ion-item class="passwordlabel">
          <ion-input label="Password" label-placement="floating" fill="outline" type="password" placeholder="Enter your password"></ion-input>
        </ion-item>
        <ion-button expand="block" class="button" routerLink="/folder/Documentos de interes">Sign In</ion-button>
        <h1 class="signup" justify-content="center">Whant to create an account? <a  routerLink="/signup">Sign Up</a></h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>