.options {
  --background: rgba(255, 255, 255, 0);
  color: #7070f5;
}

.options ion-item.selected {
  color: rgb(88, 255, 241);
}

ion-note {
  display: inline-block;
  font-size: small;
  color: #e9e9e9;
}

ion-content{
  --background: #a5ef8d;
}

.abc{
  --background: #ffffff !important;
}

.toolmenu{
  --background: #9c9cff;
}