.options {
  --background: rgba(255, 255, 255, 0);
  color: #e9e9e9;
}

.options ion-item.selected {
  color: rgb(88, 255, 241);
}

ion-note {
  display: inline-block;
  font-size: small;
  color: #e9e9e9;
}

ion-content{
  --background: #73d36e;
}

.abc{
  --background: #ffffff !important;
}
ion-menu {
  
  --height:14rem;
  --width: 16rem;
  --position: relative;
  --top: calc(150% - 0px);
  ion-content {
    --height: 50%; /* Reset the height to auto */
  }

  ion-list {
    height: fit-content; /* Set the height to fit the content */
  }
}