.a{
    color: white;
  }
.logo{
    display: flex;
    justify-content: center;
    height: 70%;
 }
 .headerpagina{
    --border-width: 0 !important;
    --background: #98ed94;
    height: 40%;
  }
  .page{
    display: flex;
    flex-direction: column;
    height: auto;
    --background: #ffffff;
  }
  .imagenlogo{
    width: 70%;
    display: flex;
    justify-content: center;
  }