

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <ion-content class="body">
    <ion-grid class="container">
      <ion-row size="12">
        <ion-col>
  
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <img class="logo" src="assets/simet.png" alt="logo" />
          </div>
        </ion-col>
      </ion-row>
      <form [formGroup]="formularioLogin"></form>
      <ion-row>
        <ion-col>
          <ion-item class="logininput">
            <ion-input class="logininput2" label="Usuario o Correo electronico" label-placement="floating" type="email" placeholder="Usuario o Correo electronico"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="logininput">
            <ion-input class="logininput2" height="50%" label="Contraseña" label-placement="floating" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button (click)="myFunction()" id="ingresar" expand="block" class="button" >INGRESAR</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup">
          <h1 class="signup"><a class="link" routerLink="/restaurarcont">¿Olvidaste tus credenciales? </a></h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
<ion-footer class="footer">
  <ion-toolbar>
    <a class="soporte" routerLink="/restaurarcont">SOPORTE TECNICO </a>
  </ion-toolbar>
</ion-footer>
