.body {
  --background: #98ed94;
  justify-content: center;
  --ion-toolbar-background: #98ed94;
  --border-width: 0;
  --box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 100%;
  text-align: center;
}
.footer{
  --background: #98ed94;
  justify-content: center;
  --ion-toolbar-background: #98ed94;
  --border-width: 0;
  --box-shadow: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.binicio {
  width: 50%;
}



.signup{
  font-size: medium;
}

.ion-label{
  background-color: none;
}

.logininput{
  --border-radius: 50px 50px 50px 50px;
  --background: #73d36e;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: .8;

  --padding-bottom: 0px;
  --padding-end: 1rem;
  --padding-start: 1.5rem;
  --padding-top: 0px;
  --border-style: none;
}

.logininput2{
  display: flex;
  size: 10;
  height: 50%;
}


.link{
  text-decoration: none !important;
  color:#7293d6;
}

.signup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-scroll.scroll-y{
  display: flex !important;
    align-content: center;
    justify-content: center;
}


.soporte{
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-decoration: none !important;
  color:#ffffff;
}

