.body {
  --background: #98ed94;
  justify-content: center;
 
}

.binicio {
  width: 50%;
}

.container {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 90%;
}
.button {
  --background: #365494;
}

.signup{
  font-size: medium;
}

.ion-label{
  background-color: none;
}

.logininput{
  --border-radius: 50px 50px 50px 50px;
  --background: #73d36e;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: .8;
  padding: 5px;
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  --border-style: none;
}


.link{
  text-decoration: none !important;
  color:#7293d6;
}

.signup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-scroll.scroll-y{
  display: flex !important;
    align-content: center;
    justify-content: center;
}

.abajo{
  text-align: center;
  --background: #98ed94;
  border-color: #98ed94;
}